html {
    background-color: lightblue;
    
}
#wrapper {
    background-color: lightgreen;
}
#header {
    background-color: grey;
}
#content{
    background-color: blue;
}
#sidebar{
    background-color: green;
}
#footer{
    background-color: pink;
}
/*#page {
    background: src;
}*/
